/*
  APW
  Páginas
  Productos (Detail) - Estilos
  Raúl Salinas <raul.teo.salinas@cic.unam.mx>
*/

.tabs {

  display: flex;
  align-items: flex-end;
  background: var(--color-neutral-light);

}

.item {

  display: inline-flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 12px 12px 0px 0px;
  border-right: 2px solid var(--color-neutral);
  background: var(--color-primary-light);

}

.item.selected {

  background: var(--color-white, #FAFAFA);

}
