/*
  SD
  Estilos
  Menu (Menú)
*/

/* Predeterminado */

.menu {

  display: flex;

  align-items: flex-start;
  padding: 0;

  list-style-type: none;

  height: 100%;

}

.menu > li:hover {
  cursor: pointer;
}

/* Dirección */

.menu.column {
  flex-direction: column;
  gap: 8px;
}

.menu.row {
  flex-direction: row;
}

.menu.row svg {
  display: none;
}

/* Espacio */

.column.large {
  gap: 16px;
}

.row.large {
  gap: 32px;
}

.column.medium {
  gap: 12px;
}

.row.medium {
  gap: 24px;
}

/* Elementos */

.item {
  /* gap: 12px; */
}

/* Efectos */

.item:hover {
  cursor: pointer;
  /* text-decoration: underline; */
}

/* Tamaño */

.item.large {
    gap: 8px;
}

.item.medium {
    gap: 4px;
}

.item.small {
    gap: 2px;
}

.item.tiny {
    gap: 2px;
}

/* Color */

.item.black {
  color: var(--color-black);
}

.item.primary {
  color: var(--color-primary);
}

.item.secondary {
  color: var(--color-secondary);
}

.item.neutral {
  color: var(--color-neutral-dark);
}

.item.white {
  color: var(--color-white);
}

/* Mover el elemento al final (sólo se aplica a menú vertical) */
.column .item.aside-true {
  margin: auto 0 0 0;
}

/* Mover el elemento al final (sólo se aplica a menú vertical) */
.row .item.aside-true {
  margin: 0;
}
