/*
  SD
  Estilos
  Variables de diseño
  José Esteva <josesteva@soft4pilot.net>
*/

:root {

  /**
  * @tokens Colores
  * @presenter Color
  */

  /* Blanco y negro */
  --color-black: #161518;
  --color-white: #F6F2FA;

  /* Color neutral */
  --color-neutral: #8C9199;
  --color-neutral-dark: #4E5257;
  --color-neutral-light: #EFEFEF;

  /* Color secundario */
  --color-secondary: #0AB0F6;
  --color-secondary-dark: #063E56;
  --color-secondary-light: #D3E9F2;

  /* Color primario */
  --color-primary: #8204FF;
  --color-primary-dark: #2D005B;
  --color-primary-light: #E9D3FF;

  /* Color de acento */
  --color-accent: #FF0099;

  /* Alias */

  /*
  --color-error-foreground:
  --color-error-background:
  --color-warning-foreground:
  --color-warning-background:
  --color-success-foreground:
  --color-success-background:
  --color-info-foreground:
  --color-info-background:
  */

  /**
  * @tokens Fuentes
  * @presenter FontFamily
  */

  --font-family: 'Alegreya Sans', sans-serif;

  /* TAMAÑO */

  /**
  * @tokens Tamaños de letra
  * @presenter FontSize
  */
  --font-size-huge: 32px;
  --font-size-large: 24px;
  --font-size-medium: 16px;
  --font-size-small: 12px;
  --font-size-tiny: 8px;

  /* ALTO DE LÍNEA */

  /**
  * @tokens Altos de línea
  * @presenter LineHeight
  */
  --line-height-huge: 48px;
  --line-height-large: 32px;
  --line-height-medium: 24px;
  --line-height-small: 16px;
  --line-height-tiny: 12px;

  /**
  * @tokens Tamaños de íconos
  * @presenter LineHeight
  */

  /* Tamaño de los iconos */
  --icon-size-huge: calc(var(--font-size-huge)*2);
  --icon-size-large: calc(var(--font-size-large)*2);
  --icon-size-medium: calc(var(--font-size-medium)*2);
  --icon-size-small: calc(var(--font-size-small)*2);
  --icon-size-tiny: calc(var(--font-size-tiny)*2);

  /* GROSOR */

  /**
  * @tokens Grosores de letras
  * @presenter FontWeight
  */

  --font-weight-bold: 700;
  --font-weight-medium: 400;
  --font-weight-light: 300;

  /**
  * @tokens Alias
  * @presenter FontWeight
  */

  /* Tipogtafías completas */
  --font-huge: var(--font-weight-medium) var(--font-size-huge)/var(--line-height-huge) 'Croissant One', serif;
  --font-huge-bold: var(--font-weight-bold) var(--font-size-huge)/var(--line-height-huge) var(--font-family);
  --font-huge-light: var(--font-weight-light) var(--font-size-huge)/var(--line-height-huge) var(--font-family);
  --font-large: var(--font-weight-medium) var(--font-size-large)/var(--line-height-large) var(--font-family);
  --font-large-bold: var(--font-weight-bold) var(--font-size-large)/var(--line-height-large) var(--font-family);
  --font-large-light: var(--font-weight-light) var(--font-size-large)/var(--line-height-large) var(--font-family);
  --font-medium: var(--font-weight-medium) var(--font-size-medium)/var(--line-height-medium) var(--font-family);
  --font-medium-bold: var(--font-weight-bold) var(--font-size-medium)/var(--line-height-medium) var(--font-family);
  --font-medium-light: var(--font-weight-light) var(--font-size-medium)/var(--line-height-medium) var(--font-family);
  --font-small: var(--font-weight-medium) var(--font-size-small)/var(--line-height-small) var(--font-family);
  --font-small-bold: var(--font-weight-bold) var(--font-size-small)/var(--line-height-small) var(--font-family);
  --font-small-light: var(--font-weight-light) var(--font-size-small)/var(--line-height-small) var(--font-family);
  --font-tiny: var(--font-weight-medium) var(--font-size-tiny)/var(--line-height-tiny) var(--font-family);
  --font-tiny-bold: var(--font-weight-bold) var(--font-size-tiny)/var(--line-height-tiny) var(--font-family);
  --font-tiny-light: var(--font-weight-light) var(--font-size-tiny)/var(--line-height-tiny) var(--font-family);

}
